.jumbotron {
  padding-top: 5rem;
  background-color: #fafa29;
}
#berita {
  padding-top: 2rem;
  background-color: #fafa29;
}
#contact {
  padding-top: 2rem;
  background-color: #fafa29;
}

.ketua {
  text-align: center;
  list-style: none;
}
